
.mafia-button {
    display: block;
    width: fit-content;
    text-decoration: none; !important;
    font-family: "Georgia", serif;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;

    color: black;                /* текст чёрный */
    background: transparent;     /* без фона */

    padding: 10px 25px 10px 55px;
    margin: 12px 0;


    cursor: pointer;

    position: relative;

    transition: 0.25s ease;
}

/* Brush слева */
.mafia-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -100px;

    width: 100px;
    height: 30px;

    background-image: url("#{resource['media:brush.png']}");
    background-size: cover;
    background-repeat: no-repeat;

    transform: translateY(-50%);
    opacity: 0.85;
}


.mafia-button:hover {
    background: black;   /* появляется чёрный фон */
    color: white;        /* белый текст */
    letter-spacing: 3px; /* лёгкое растяжение букв */
}