.digital-clock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    top: 40px;
    left: 40px;

    font-family: "Digital-7 Mono", monospace, sans-serif;
    font-size: 64px;
    letter-spacing: 2px;
    color: #ff2e2e;
    text-shadow:
            0 0 6px #ff0000,
            0 0 12px #ff0000,
            0 0 20px rgba(255, 0, 0, 0.8);


    padding: 10px 18px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 8px;

    user-select: none;
}

.digital-clock > div {
    white-space: nowrap;
}